Поработаем с датасетом Titanic. Это очень известный датасет для машинного обучения, а нам он пригодится, чтобы попрактиковаться с pandas.

#### Задача 1.

Считайте датасет (можно скопировать код из лекции). Выведите первые пять строчек датасета. Посмотрите информацию о датасете. Во-первых, пустые ячейки всегда мешают, а во-вторых, в машинном обучении неудобно работать с текстовыми данными и все стараются превращать в цифры. Давайте попробуем почистить датасет с этой позиции, но разумно:

- Пропущенные ячейки возраста, наверное, можно заполнить средним арифметическим
- Пол можно заменить на чиселки - 1 для одного варианта и 0 для другого (не у всех пол известен, но там таких мало, можно заменить на тот же 0)
- Столбцы Ticket, Cabin и Embarked, скорее всего, содержат не очень интересную информацию: можно от них просто избавиться.
- Столбец с именами пока оставим как есть.

In [176]:
import pandas as pd

In [177]:
titanic = pd.read_csv('/content/titanic.csv', sep=';')
print(titanic.info()) # смотрим информацию о датасете
titanic.head() # выводим первые пять строчек датасета

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund; Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings; Mrs. John Bradley (Florence Briggs Th...,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen; Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle; Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen; Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S

In [178]:
mean = float(round(titanic['Age'].mean())) # вычисляем средний возраст
titanic['Age'] = titanic['Age'].fillna('mean')  # заполняем пропущенные ячейки возраста средним арифметическим
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    object
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 83.7+ KB

In [179]:
titanic['Sex'] = titanic['Sex'].replace(['male', 'female', 'unknown'], [1, 0, 0]) # заменим пропуски и female на 0, male на 1
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund; Mr. Owen Harris,1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings; Mrs. John Bradley (Florence Briggs Th...,0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen; Miss. Laina,0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle; Mrs. Jacques Heath (Lily May Peel),0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen; Mr. William Henry,1,35.0,0,0,373450,8.0500,NaN,S

In [180]:
titanic.drop(['Ticket', 'Cabin', 'Embarked'], axis = 1 , inplace = True ) # удаяем эти три столбца
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    object
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Fare         891 non-null    float64
dtypes: float64(1), int64(6), object(2)
memory usage: 62.8+ KB

#### Задача 2.

Сколько пассажиров выжило, а сколько - нет?

In [181]:
print(f'Выжило: {titanic.Survived.sum()} чел., погибло: {len(titanic) - titanic.Survived.sum()} чел.')

Выжило: 342 чел., погибло: 549 чел.

#### Задача 3.

Какова доля выживших пассажиров из класса 3? А пассажиров из класса 1? (Доля - это отношение количества выживших пассажиров этого класса к общему количеству выживших пассажиров)

In [182]:
print(f'Доля выживших пассажиров класса 3: {sum((titanic.Survived == 1) & (titanic.Pclass == 3)) / sum(titanic.Pclass == 3)}')
print(f'Доля выживших пассажиров класса 1: {sum((titanic.Survived == 1) & (titanic.Pclass == 1)) / sum(titanic.Pclass == 1)}')

Доля выживших пассажиров класса 3: 0.24236252545824846
Доля выживших пассажиров класса 1: 0.6296296296296297

#### Задача 4.

Какова доля выживших женщин из первого класса? А доля выживших мужчин из 3 класса?

In [183]:
print(f'Доля выживших женщин из 1 класса: {sum((titanic.Survived == 1) & (titanic.Pclass == 1) & (titanic.Sex == 0)) / sum((titanic.Pclass == 1) & (titanic.Sex == 0))}')
print(f'Доля выживших мужчин из 3 класса: {sum((titanic.Survived == 1) & (titanic.Pclass == 3) & (titanic.Sex == 1)) / sum((titanic.Pclass == 3) & (titanic.Sex == 1))}')

Доля выживших женщин из 1 класса: 0.9680851063829787
Доля выживших мужчин из 3 класса: 0.13623188405797101

#### Задача 5.

Давайте заведем отдельный столбец с фамилией пассажира. Можно заметить, что в ячейке имени фамилия всегда пишется первой и через точку с запятой. Вам поможет lambda и split.

In [184]:
titanic['Surname'] = titanic['Name'].apply(lambda x: x.split(';')[0])
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Surname
0,1,0,3,Braund; Mr. Owen Harris,1,22.0,1,0,7.2500,Braund
1,2,1,1,Cumings; Mrs. John Bradley (Florence Briggs Th...,0,38.0,1,0,71.2833,Cumings
2,3,1,3,Heikkinen; Miss. Laina,0,26.0,0,0,7.9250,Heikkinen
3,4,1,1,Futrelle; Mrs. Jacques Heath (Lily May Peel),0,35.0,1,0,53.1000,Futrelle
4,5,0,3,Allen; Mr. William Henry,1,35.0,0,0,8.0500,Allen

#### Задача 6.

Сколько всего получилось семей? Сколько человек в каждой семье? Сколько семей, в которых больше трех человек?

In [198]:
print(titanic['Surname'].nunique(), '\n') # всего семей(уникальная фамилия = семья)
print(titanic.groupby('Surname')['Surname'].count().head(), '\n') # человек в каждой семье
print((titanic.groupby('Surname')['Surname'].count() > 3).sum()) # кол-во семей, в которых > 3 человек

667

Surname
Abbing     1
Abbott     2
Abelson    2
Adahl      1
Adams      1
Name: Surname, dtype: int64

22

#### Задача 7.

Создайте столбец "IsChild", который равен 1, если возраст меньше 20, и 0 иначе.

In [194]:
titanic['IsChild'] = titanic['Age'].apply(lambda x: 1 if x < 20 else 0) # памагите... откуда там str, если должно быть float
titanic.head()

TypeError: '<' not supported between instances of 'str' and 'int'

#### Задача 8.

Какова доля семей, в которых минимальный возраст меньше 20 (семьи с детьми)? По отношению к общему количеству семей.

In [208]:
print((titanic.groupby('Surname')['Age'].min() < 20).sum() / titanic['Surname'].nunique())

TypeError: '<=' not supported between instances of 'str' and 'float'